<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SessionTrackingDemo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CookieCreater</display-name>
    <servlet-name>CookieCreater</servlet-name>
    <servlet-class>contoller.CookieCreater</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieCreater</servlet-name>
    <url-pattern>/CookieCreater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieReader</display-name>
    <servlet-name>CookieReader</servlet-name>
    <servlet-class>contoller.CookieReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieReader</servlet-name>
    <url-pattern>/CookieReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieLoginServlet</display-name>
    <servlet-name>CookieLoginServlet</servlet-name>
    <servlet-class>contoller.CookieLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieLoginServlet</servlet-name>
    <url-pattern>/CookieLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBalanceServlet</display-name>
    <servlet-name>CheckBalanceServlet</servlet-name>
    <servlet-class>contoller.CheckBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalanceServlet</servlet-name>
    <url-pattern>/CheckBalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>contoller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstSession</display-name>
    <servlet-name>FirstSession</servlet-name>
    <servlet-class>contoller.FirstSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstSession</servlet-name>
    <url-pattern>/FirstSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondSession</display-name>
    <servlet-name>SecondSession</servlet-name>
    <servlet-class>contoller.SecondSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondSession</servlet-name>
    <url-pattern>/SecondSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySessionLogout</display-name>
    <servlet-name>MySessionLogout</servlet-name>
    <servlet-class>contoller.MySessionLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySessionLogout</servlet-name>
    <url-pattern>/MySessionLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSessionServlet</display-name>
    <servlet-name>LoginSessionServlet</servlet-name>
    <servlet-class>session.pack.LoginSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSessionServlet</servlet-name>
    <url-pattern>/LoginSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionMovieServlet</display-name>
    <servlet-name>SessionMovieServlet</servlet-name>
    <servlet-class>session.pack.SessionMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionMovieServlet</servlet-name>
    <url-pattern>/SessionMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookMovieServlet</display-name>
    <servlet-name>BookMovieServlet</servlet-name>
    <servlet-class>session.pack.BookMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMovieServlet</servlet-name>
    <url-pattern>/BookMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHiddenServlet</display-name>
    <servlet-name>MyHiddenServlet</servlet-name>
    <servlet-class>hidden.pack.MyHiddenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHiddenServlet</servlet-name>
    <url-pattern>/MyHiddenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NextHidden</display-name>
    <servlet-name>NextHidden</servlet-name>
    <servlet-class>hidden.pack.NextHidden</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextHidden</servlet-name>
    <url-pattern>/NextHidden</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdHiddenServlet</display-name>
    <servlet-name>ThirdHiddenServlet</servlet-name>
    <servlet-class>session.pack.ThirdHiddenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdHiddenServlet</servlet-name>
    <url-pattern>/ThirdHiddenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>hidden.pack.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>